<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sign In</title>
</head>
<body class="full-center">

<form class="form-signin" role="form" th:action="@{/public/forgot-password}" th:method="post">
    <p><img class="img-responsive center-block d-block mx-auto" src="/public/logo.png" width="72" height="72"
            alt="ChangeNode"></p>

    <label class="sr-only" for="email">Email </label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required
           autofocus/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send Password Reset Link</button>
</form>
</body>
</html>
