<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Password Reset</title>
</head>
<body class="full-center">

<form class="form-signin" role="form" th:action="@{/public/password-reset}" th:method="post">
    <p><img class="img-responsive center-block d-block mx-auto" src="/public/logo.png" width="72" height="72"
            alt="ChangeNode"></p>

    <input type="hidden" id="key" name="key" th:value="${key}"/>
    <label class="sr-only" for="email">Email </label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required
           autofocus/>
    <input type="password" id="password1" name="password1" class="form-control" placeholder="New password" required/>
    <input type="password" id="password2" name="password2" class="form-control" placeholder="New password (confirm)"
           required/>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Update Password</button>
</form>
</body>
</html>
