<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <title>Hello World</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container"><br/>
        <div class="alert alert-success">
            <strong>If this looks ok...</strong> Bootstrap is working.
        </div>
    </div>
    <div class="container">
        <a th:href="@{click-to-edit}">Click To Edit</a>
    </div>
    <div class="container">
        <a th:href="@{infinite-scroll}">Infinite Scroll</a>
    </div>
    <div class="container">
        <a th:href="@{todo}">To Do</a>
    </div>
</section>
</body>
</html>
